---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.tsx';
import About from '../components/About.astro';
import ServerTeaser from '../components/ServerTeaser.astro';
import Links from '../components/Links.astro';
---

<Base active="home">
  <main>
    <Hero client:load />
    <About />
    <ServerTeaser />
    <Links />
  </main>
</Base>
