---
interface Props {
  text: string;
}
const { text } = Astro.props;
---

<p class="label"><span class="comment">// </span>{text}</p>

<style>
  .label {
    font-family: var(--font-mono);
    font-size: 12px;
    color: var(--t2);
    margin-bottom: 16px;
  }
  .comment {
    color: var(--t3);
  }
</style>
